body {
    margin: 0;
    color: aliceblue;
    background: url('/src/img/imgonline-com-ua-Blur-dptonyNhWcdyjdn2\ \(1\).jpg') no-repeat center center fixed;
}

.title1 {
    font-size: 50px;
}

.title2 {
    font-size: 25px;
    color: rgb(222, 222, 222);
}

.title3 {
    font-size: 20px;
    color: rgb(222, 222, 222);
}

code {
    font-family: Courier;
}

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}

@media only screen and (max-width: 600px) {}

@media only screen and (max-device-width: 500px) {}

@media only screen and (max-width: 900px) {}

@media only screen and (device-width: 768px) {
    /* default iPad screens */
}


/* different techniques for iPad screening */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}