body {
    margin: 0;
    color: rgb(255, 255, 255);
    background-image: url(/src/img/imgonline-com-ua-Blur-dptonyNhWcdyjdn2\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title1 {
    font-size: 50px;
    text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 4px rgb(0, 0, 0);
}

.title2 {
    font-size: 25px;
    color: rgb(222, 222, 222);
    text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 4px rgb(0, 0, 0);
}

.title3 {
    font-size: 20px;
    color: rgb(222, 222, 222);
    text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 4px rgb(0, 0, 0);
}

.mdiv {
    margin-top: 15%;
}

code {
    font-family: Courier;
}

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}

@media only screen and (max-width: 600px) {
    .mdiv {
        margin-top: 30%;
    }
}

@media only screen and (max-device-width: 600px) {
    .mdiv {
        margin-top: 35%;
    }
    body {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 900px) {}

@media only screen and (device-width: 768px) {
    /* default iPad screens */
}


/* different techniques for iPad screening */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}